  
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}
header{　
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;}
.header-left{
  color:white;
}
.top-wrapper{ padding: 180px 0 100px 0;
  background-image: url(top.png);
  background-size: cover;
  color: white;
  text-align: center;
}
.top-warpper p {
opacity: 0.7;
  font-size: 16px;
  margin-bottom: 40px;
}
.twitter-follow-button{
  width:200px;
 height:35px; 
}
.lesson-warpper{
height: 580px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center; 
}
.heading h2 {
  font-weight:normal;
}
.lesson {
  float:left;
  width:25%;
}
.lesson-icon {
  position:relative;
}
.lesson-icon p {
  position: absolute;
  top: 50%;
  left: 64%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  width: 100%;
  color: white;
}
.text-content {
  width: 75%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #b3aeb5;
}


.clear {
  clear: left;
}

@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .lesson-wrapper {
    height: 990px;
  }
  .message-wrapper {
    text-align: center;
  } 

  footer {
    background-color: black;
    height: 50px;
  }
  .container p {
  color:white;
  }

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }


@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .lesson {
    width: 100%;
  }

  .lesson-wrapper {
    height: 1700px;
  }

  .message-wrapper .btn {
    width: 100%;
  }
